<img src = 'https://logodownload.org/wp-content/uploads/2015/02/ufmg-logo-2.png' height="400" width="540">
<p><b><font size = 5 face = 'verdana'> TRABALHO FINAL - EST 584</font></b></p>

<p><font size = 3 face = 'verdana'>Trabalho apresentado √† conclus√£o da disciplina EST 584 - AN√ÅLISE EXPLORAT√ìRIA DE DADOS COM USO DOS SOFTWARES R E EXCEL do curso de P√≥s-Gradua√ß√£o em ESTAT√çSTICA COMPUTACIONAL APLICADA 1¬∫/2024, UFMG, como requisito parcial de avalia√ß√£o. </font></b></p>
<p><font size = 3 face = 'verdana'><b>PROFESSORA:</b> JUSSIANE GON√áALVES<br><br> 
<b>ALUNOS:</b><br>
<li>ANDR√â MOTA</li>
<li>CAROLINNE MAGALH√ÉES</li>
<li>FABIO JUNQUEIRA</li>
<li>MARINA FERREIRA</li>
<li>OSEMAR DA SILVA XAVIER</li>
<li>TIAGO JOS√â DA SILVA</li>

<hr></hr>
<b>DESCRI√á√ÉO:</b><br>
<p><font size = 3 face = 'verdana'>
<li>O trabalho dever√° ser realizado em grupos de no m√≠nimo 4 e no m√°ximo 6 pessoas.</li>
<li>O grupo deve escolher um conjunto de dados para descri√ß√£o e apresenta√ß√£o.</li>
<li>De acordo com a natureza da vari√°vel, construam gr√°ficos, tabelas e medidas de s√≠ntese num√©rica para descrever as vari√°veis de interesse.</li>
<li>Data das apresenta√ß√µes: 06/04 e 13/04.</li>
<li>Tempo de apresenta√ß√£o: 10 a 15 minutos.</li>
<li>Gentileza preencher a planilha do link a seguir com o nome completo dos integrantes do grupo:</li></font></p>
https://docs.google.com/spreadsheets/d/15QJGEr1JAyK7gL19xtQQbCB2girU601rQo_zgueOAjk/edit?usp=sharing
  
<b>SOBRE O DATASET:</b><br>

<p><font size = 3 face = 'verdana'>O conjunto de dados fornecido refere-se √†s atividades da plataforma de Ads de uma empresa de eletroeletr√¥nicos. Ele cont√©m registros detalhados sobre as intera√ß√µes entre a plataforma de an√∫ncios e os clientes, com informa√ß√µes essenciais para an√°lises e insights. Esses dados s√£o fundamentais para entender o comportamento dos clientes, o desempenho dos an√∫ncios e a efic√°cia da plataforma de publicidade da empresa de eletroeletr√¥nicos. Com an√°lises apropriadas, √© poss√≠vel otimizar estrat√©gias de marketing e melhorar a experi√™ncia do cliente.</font></p>

Esta base de dados est√° dispon√≠vel atrav√©s do link:
Google Drive: https://drive.google.com/file/d/13jPnT_DHOHXJSUjZmiPN9ulYwbf8w9a3/view?usp=sharing



As colunas presentes neste conjunto de dados incluem:

id: Identificador √∫nico atribu√≠do a cada registro.
date: Data em que ocorreu o registro.
publisherId: Identificador da loja que solicitou o an√∫ncio.
page: Identificador da p√°gina que solicitou o an√∫ncio.
adType: Tipo de an√∫ncio exibido.
searchTerm: Termo de pesquisa associado √† solicita√ß√£o do an√∫ncio.
zipcode: C√≥digo postal do cliente logado.
totalAdsRequestedCount: N√∫mero total de an√∫ncios solicitados.
totalAdsReturnedCount: N√∫mero total de an√∫ncios retornados.
totalRequests: Total de solicita√ß√µes realizadas.
Esses dados s√£o fundamentais para entender o comportamento dos clientes, o desempenho dos an√∫ncios e a efic√°cia da plataforma de publicidade da empresa de eletroeletr√¥nicos. Com an√°lises apropriadas, √© poss√≠vel otimizar estrat√©gias de marketing e melhorar a experi√™ncia do cliente.    
    
    
<b>INFORMA√á√ïES SOBRE OS ATRIBUTOS DO DATASET:</b><br>
<ol>
<li>id -> Identificador √∫nico</li>
<li>date -> Data do registro</li>
<li>publisherId -> Identificador da loja solicitante do an√∫ncio</li>
<li>page -> Identificador da p√°gina solicitante do an√∫ncio</li>
<li>adType -> Tipo de an√∫ncio</li>
<li>searchTerm -> Termo de pesquisa</li>
<li>zipcode -> C√≥digo postal do cliente logado</li>
<li>totalAdsRequestedCount -> N√∫mero total de an√∫ncios solicitados</li> 
<li>totalAdsReturnedCount -> N√∫mero total de an√∫ncios retornadoss</li>
<li>totalRequests -> Total de solicita√ß√µes</li>   
</ol>

In [2]:
import pandas as pd
import pickle

In [17]:
# Abrir o arquivo em modo de leitura bin√°ria ('rb' para read binary)
with open('ads-fillrate-daily-search-summary.pkl', 'rb') as file:
    # Carregue o objeto Pickle
    df = pickle.load(file)

In [18]:
# Imprime as 5 primeiras linhas do Dataframe
df.head()

,id,date,publisherId,page,adType,searchTerm,zipcode,totalAdsRequestedCount,totalAdsReturnedCount,totalRequests
8,65fbab55958ffcbdf5f7fb61,2023-11-01,netshoes,SEARCH,SPONSORED_PRODUCT,Pre treiro frames,15704334,32,0,2
21,65fbab55958ffcbdf5f7fb96,2023-11-01,netshoes,SEARCH,SPONSORED_PRODUCT,Pro 5,13295326,48,0,3
61,65fbab55958ffcbdf5f7fc9c,2023-11-01,netshoes,SEARCH,SPONSORED_PRODUCT,Fran√ßa,23936215,144,0,9
62,65fbab55958ffcbdf5f7fc9d,2023-11-01,netshoes,SEARCH,SPONSORED_PRODUCT,Camisa time manshester,49082000,16,0,1
71,65fbab55958ffcbdf5f7fcc6,2023-11-01,netshoes,SEARCH,SPONSORED_PRODUCT,t√™nis,85806020,16,1,1

In [4]:
df.columns

Index(['id', 'date', 'publisherId', 'page', 'adType', 'searchTerm', 'zipcode',
       'totalAdsRequestedCount', 'totalAdsReturnedCount', 'totalRequests'],
      dtype='object')

In [5]:
df.isnull().sum()

id                            0
date                          0
publisherId                   0
page                          0
adType                        0
searchTerm                    0
zipcode                   21439
totalAdsRequestedCount        0
totalAdsReturnedCount         0
totalRequests                 0
dtype: int64

In [23]:
# Converta a coluna 'date' para o tipo datetime
df['date'] = pd.to_datetime(df['date'])

# Crie uma nova coluna 'year_month' contendo o ano e o m√™s
df['year_month'] = df['date'].dt.strftime('%Y-%m')

In [30]:
# Novo DataFrame com apenas as colunas desejadas retirei id, page, adType
nw_df = df[['date', 'year_month', 'publisherId','searchTerm', 'zipcode', 'totalAdsRequestedCount', 'totalAdsReturnedCount', 'totalRequests']].copy()

In [31]:
nw_df.head()

,date,year_month,publisherId,searchTerm,zipcode,totalAdsRequestedCount,totalAdsReturnedCount,totalRequests
8,2023-11-01,2023-11,netshoes,Pre treiro frames,15704334,32,0,2
21,2023-11-01,2023-11,netshoes,Pro 5,13295326,48,0,3
61,2023-11-01,2023-11,netshoes,Fran√ßa,23936215,144,0,9
62,2023-11-01,2023-11,netshoes,Camisa time manshester,49082000,16,0,1
71,2023-11-01,2023-11,netshoes,t√™nis,85806020,16,1,1

In [37]:
pivottable_1 = pd.pivot_table(df, index='publisherId', 
                                  values=['totalAdsRequestedCount', 'totalAdsReturnedCount', 'totalRequests'], 
                                  aggfunc='sum')

In [38]:
# Exiba a tabela din√¢mica
print(pivottable_1)

               totalAdsRequestedCount  totalAdsReturnedCount  totalRequests
publisherId
magazineluiza                 2815754                 540577         660978
netshoes                      4975856                  58357         315987
zattini                        355232                   3593          22313

In [42]:
# Aplicar o filtro para incluir apenas as linhas onde publisherId √© "netshoes"
df_filtrado = df[df['publisherId'] == 'netshoes']

# Criar a tabela din√¢mica usando pivot_table()
pivottable_2 = pd.pivot_table(df_filtrado, index=['publisherId', 'searchTerm'], 
                                  values=['totalAdsRequestedCount', 'totalAdsReturnedCount', 'totalRequests'], 
                                  aggfunc='sum')

In [43]:
print(pivottable_2)

                                                                totalAdsRequestedCount  \
publisherId searchTerm
netshoes     Bermuda nike                                                           80
             Cal√ßa jeans masculina clara                                            48
             Camisa cruzeiro                                                        48
             Camiseta adidas sportswear big aop                                     16
             Ike imdatil                                                            16
...                                                                                ...
            √≥sculos de nata√ß√£o                                                     208
            √¥mega 3                                                                112
            √∂us                                                                     32
            Ôøº  Selecione seu tamanho  Apenas 3 itens em est...                      48
            üé∑                                                                       96

                                                                totalAdsReturnedCount  \
publisherId searchTerm
netshoes     Bermuda nike                                                           0
             Cal√ßa jeans masculina clara                                            0
             Camisa cruzeiro                                                        0
             Camiseta adidas sportswear big aop                                     0
             Ike imdatil                                                            0
...                                                                               ...
            √≥sculos de nata√ß√£o                                                      0
            √¥mega 3                                                                 0
            √∂us                                                                     0
            Ôøº  Selecione seu tamanho  Apenas 3 itens em est...                      0
            üé∑                                                                      10

                                                                totalRequests
publisherId searchTerm
netshoes     Bermuda nike                                                   5
             Cal√ßa jeans masculina clara                                    3
             Camisa cruzeiro                                                3
             Camiseta adidas sportswear big aop                             1
             Ike imdatil                                                    1
...                                                                       ...
            √≥sculos de nata√ß√£o                                             13
            √¥mega 3                                                         7
            √∂us                                                             2
            Ôøº  Selecione seu tamanho  Apenas 3 itens em est...              3
            üé∑                                                               6

[9997 rows x 3 columns]